


/*home.html*/
/*the space between the div.row*/
.row{
	margin-top:20px; 
}
/*image au milieu*/
.image{
	display: block;
	margin:auto;
}
/*the size of image*/
#image_calendar{
	width: 100%;
	height: auto;
}
/*tableaux de soutenance*/
.list-group-item>div>p:nth-child(odd){
	text-align: left;
}
.list-group-item>div>p:nth-child(even){
	text-align: right;
}

/*page login_valid*/
#login_valid{
	/*div align horizontally and vertically*/
	position: absolute;
	left:50%;
	top: 50%;
	width: 600px;
	height: 300px;
	margin-left: -300px;
	margin-top: -150px;

	/*text align horizontally and vertically*/
	line-height: 200px; 
	padding: 50px;
	text-align: center;
	font-size: 5em;
	color: gray;
}

/*enseignant0*/
.btn_group{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}



